$primary-font: 'MAD hacker', sans-serif;
$secondary-font: 'synthese', sans-serif;
$primary-color: #00CCFF;
$secondary-color: #BBADFF;
$tertiary-color: #000000;
$fourth-color: #54457F;
$fifth-color: #09BC8A;

html {
    background-color: $tertiary-color;
}

header {
    font-family: $primary-font;
    text-align: center;
    color: $primary-color;
    //background-color: $tertiary-color;
    padding: 24vh 0;
    h1 {
        font-size: 52px;
    }
    h2 {
        font-size: 28px;
    }
}

nav {
    background-color: $primary-color;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    position:sticky;
    top:0;
    z-index: 100;
    a {
        font-family: $primary-font;
        font-size:26px;
        color: $tertiary-color;
        text-decoration: none;
        margin: 0 20px;
    }
    a:hover {
        color: $fourth-color;
        text-decoration: underline;
        transition: 0.3s;
    }
    a:first-child {
        margin-right:auto;
    }
}

.work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    margin: 50px;
    a {
        //width: 50%;
        width: 45%;
        height:100%;
        padding: 15px;
    }
    img {
        width:100%;
    }
    img:hover {
        opacity: 50%;
    }
}

.preview {
    //background-color: $tertiary-color;
    img {
        margin: auto;
        display: flex;
        height: 65vh;
    }
    h1 {
        font-family: $primary-font;
        font-size: 42px;
        color:$primary-color;
        padding: 25px;
        padding-bottom:0;
    }
}

.preview-blurb {
    display:flex;
    align-items: center;
    padding: 20px 100px 75px;
    p {
        font-family: $secondary-font;
        font-size: 14px;
        color:$primary-color;
        line-height: 25px;
        padding-left:50px;
    }
}

.preview-gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: $tertiary-color;
    img {
        width:50%;
        height:100%;
    }
    iframe {
        width: 50%;
    }
}
.preview-business-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin:auto;
    img {
        width:75%;
        margin:auto;
    }
}
.visit-site {
    display: flex;
    justify-content:center;
    width:50%;
    a {
        font-family: $primary-font;
        font-size: 32px;
        color: $tertiary-color;
        background-color: $primary-color;
        text-decoration: none;
        border-radius: 25px;
        padding: 5px 15px;
        text-align:center;
    }
    a:hover {
        background-color: $secondary-color;
        transition: all .25s ease-out;
    }
}

canvas {
    position: absolute;
    top:0;
    left:0;
    background-color: $tertiary-color;
    z-index: -1;
    width:100%;
}

.preview-documentation{
    margin:auto;
    display:flex;
    flex-direction: column;
    padding: 50px 0;
    img {
        width: 50%;
        margin: auto;
    }
    h2 {
        font-family: $primary-font;
        font-size: 32px;
        color:$primary-color;
        padding: 15px 250px 0;
    }
    p {
        font-family: $secondary-font;
        font-size: 14px;
        color:$primary-color;
        padding: 15px 350px 50px;
        line-height: 20px;
    }
}
footer {
    background-color: $primary-color;
    padding: 20px;
}

.about {
    background-color:$secondary-color;
    margin:0 275px;
    img {
        width:400px;
    }
    h1 {
        font-family: $primary-font;
        font-size: 44px;
        color:$tertiary-color;
        text-align: center;
        padding: 50px;
    }
    p {
        font-family: $secondary-font;
        font-size: 16px;
        color:$tertiary-color;
        width:25vw;
        padding: 0 50px;
        line-height: 20px;
    }
}

#word_cycle {
    text-align: center;
    color:$fourth-color;
    font-size: 20px;
    font-weight: bold;
}

.about-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        height: 38px;
        padding: 0 50px;
    }
}

#facebook:hover, #twitter:hover, #instagram:hover {
    opacity: 50%;
}



//
// CONTACT PAGE STYLES
//

.cards {
    img {
        display:flex;
        flex-direction: column;
        margin:auto;
        width:75%;
    }
    p {
        color: $primary-color;
        font-family: $secondary-font;
    }
} 

#page-wrapper {
    width: 640px;
    //background: #FFFFFF;
    background: $fourth-color;
    padding: 2em;
    margin: 1em auto;
    border-top: 5px solid $primary-color;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    h1 {
        font-family: $secondary-font;
        font-size: 25px;
        text-align: center;
        color: $primary-color;
    }
  }
  
  .field {
    margin: 1em 0;
  }
  
  label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    //color: #999999;
    color: $primary-color;
    font-family:$secondary-font;
  }
  
  input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    font-family:$secondary-font;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    font-family:$secondary-font;
  }
  
  button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: $primary-color;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  
  button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
  }
  
  button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
  }
  
  .success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
  
  .error {
    padding: 1em;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

/* Tablet
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 501px) and (max-width: 900px)
{
    .work {
        a {
            width: 100%;
            height: 100%;
        }
    }
    // canvas {
    //     width: 150%;
    // }
    .preview {
        img {
            height: auto;
            max-width:100%;
        }
        h1 {
            font-size: 36px;
            padding: 25px;
            padding-bottom:0;
        }
    }
    .preview-blurb {
        padding: 20px 100px 75px;
        p {
            font-size: 14px;
        }
    }
    .preview-gallery {
        padding-top:75px;
        img {
            width:100%;
            height:100%;
        }
        iframe {
            width: 100%;
        }
    }
    .preview-documentation{
        padding: 50px 0;
        img {
            width: 75%;
        }
        h2 {
            padding: 15px 100px 0;
        }
        p {
            padding: 15px 100px 50px;
        }
    }
    .about {
        margin:0 100px;
        img {
            width:400px;
        }
        h1 {
            padding: 50px;
        }
        p {
            width:50vw;
            padding: 0 50px;
            padding-top:25px;
        }
    }
    
    .about-column {
        padding-bottom: 50px;
    }
}

/* Mobile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 500px)
{
    header {
        h1 {
            font-size: 52px;
        }
        h2 {
            font-size: 28px;
        }
        img {
            width: 100%;
        }
    }
    
    nav {
        display: none;
    }
    
    .work {
        margin:0;
        a {
            width: 100%;
            height:100%;
        }
        img {
            width:100%;
        }
    }
    
    .preview {
        img {
            height: auto;
            max-width:100%;
        }
        h1 {
            font-size: 36px;
            padding: 5px;
            padding-top:25px;
            padding-bottom:25px;
        }
    }
    .preview-blurb {
        padding: 20px 25px 75px;
        flex-direction: column;
        p {
            font-size: 14px;
            padding-bottom: 25px;
        }
    }
    #preview-animation{
        display:none;
    }
    
    .preview-gallery {
        padding-top:150px;
        img {
            width:100%;
            height:100%;
        }
        iframe {
            width: 100%;
        }
    }
    
    canvas {
        //width:250%;
        display:none;
    }
    .preview-documentation{
        padding: 50px 0;
        img {
            width: 100%;
        }
        h2 {
            padding: 15px 50px 0;
        }
        p {
            padding: 15px 50px 50px;
        }
    }
    .about {
        margin:0 25px;
        background-color: $secondary-color;
        img {
            width:400px;
        }
        h1 {
            padding: 25px;
        }
        p {
            width:75vw;
            padding: 0 50px;
            padding-top:25px;
        }
    }
    
    .about-column {
        padding-bottom: 50px;
    }

//
// CONTACT PAGE STYLES
//

#page-wrapper {
    width: 75%;
  }
  
  label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  
  input {
    width: 100%;
    padding: 0.5em 0.5em;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
  }
  
  button {
    width: 100%;
  }
}